In [1]:
import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import GridSearchCV

C:\Users\rajanig\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/semeion/semeion.data",header=None,
                 delimiter=r"\s+")

In [3]:
print ( df.head())
print(type(df))

   0    1    2    3    4    5    6    7    8    9   ...   256  257  258  259  \
0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0 ...     1    0    0    0
1  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  1.0 ...     1    0    0    0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...     1    0    0    0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0 ...     1    0    0    0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...     1    0    0    0

   260  261  262  263  264  265
0    0    0    0    0    0    0
1    0    0    0    0    0    0
2    0    0    0    0    0    0
3    0    0    0    0    0    0
4    0    0    0    0    0    0

[5 rows x 266 columns]
<class 'pandas.core.frame.DataFrame'>

In [4]:
X=pd.DataFrame(df)

In [5]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
X = X.drop([256,257,258,259,260,261,262,263,264,265],axis=1)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
Y = pd.DataFrame(df.iloc[:,[256,257,258,259,260,261,262,263,264,265]])
Y.shape
Y.head()

   256  257  258  259  260  261  262  263  264  265
0    1    0    0    0    0    0    0    0    0    0
1    1    0    0    0    0    0    0    0    0    0
2    1    0    0    0    0    0    0    0    0    0
3    1    0    0    0    0    0    0    0    0    0
4    1    0    0    0    0    0    0    0    0    0

In [8]:
Y.rename(columns={256:0,257:1,258:2,259:3,260:4,261:5,262:6,263:7,264:8,265:9},inplace=True)
Y.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0

In [9]:
Y['y'] = Y.apply(lambda x: Y.columns[x.argmax()],axis=1)

In [10]:
print ( Y.head())

   0  1  2  3  4  5  6  7  8  9  y
0  1  0  0  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0  0

In [11]:
print(Y.tail())

      0  1  2  3  4  5  6  7  8  9  y
1588  0  0  0  0  0  0  0  0  0  1  9
1589  0  0  0  0  0  0  0  0  0  1  9
1590  0  0  0  0  0  0  0  0  0  1  9
1591  0  0  0  0  0  0  0  0  0  1  9
1592  0  0  0  0  0  0  0  0  0  1  9

In [12]:
y = Y['y']

In [13]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

In [14]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.05,random_state=5)

In [15]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(1513, 256)
(80, 256)
(1513L,)
(80L,)

In [16]:
clf_knn = KNeighborsClassifier()

In [17]:
k_range = range(1,6)

In [18]:
knn_weigth_options = ['uniform','distance']

In [19]:
knn_algorithm_options = ['ball_tree','kd_tree','brute']

In [20]:
knn_params = {'n_neighbors':k_range,'weights':knn_weigth_options,'algorithm':knn_algorithm_options}

In [21]:
knn_grid = GridSearchCV(clf_knn,knn_params,cv=10,scoring='accuracy')

In [22]:
clf_knn.get_params().keys()

['n_neighbors',
 'n_jobs',
 'algorithm',
 'metric',
 'metric_params',
 'p',
 'weights',
 'leaf_size']

In [23]:
knn_grid.fit(X,y)

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 2, 3, 4, 5], 'weights': ['uniform', 'distance'], 'algorithm': ['ball_tree', 'kd_tree', 'brute']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='accuracy', verbose=0)